/*
Theme Name: momoyocgs09
Theme URI: http://cgs09.pamiers.srv.simplon.me
Description: Description de mon thème enfant
Author: GS Simplon
Template: momoyo
*/
@import url("../momoyo/style.css");

h1 {
    color: #b22349;
	font-size: 45px;
	font-weight: bold;
}

h2{
	color: #b22349;
}

.main-navigation a{
	font-size: 1.5em;
}

